<h1><%= title 'Oferty' %></h1>


<% @offers.each do |offer| %>
  <p>
    <%= link_to offer.title, offer %>
  </p>
<% end %>

<br />
<% if permitted_to? :create, Offer.new %>
<%= link_to 'New offer', new_offer_path %>
<% end %>